* {
	margin: 0;
	padding: 0;
}

.header {
	background-image: url(slike/pozadina1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	height: 500px;
	background-size: cover;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	padding: 20px;
}

.product {
	width: 30%;
	background-color: whitesmoke;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 20px;
	box-sizing: border-box;
}

.product img {
	width: 100%;
	border-radius: 8px;
}

.flex {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.productFooter {
	color: red;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.product {
		width: 100%;
	}
}
