.podvuceniTekst {
	text-decoration: underline;
}

.menjanjeBoje {
	color: burlywood;
}

.container {
	text-align: center;
	clear: both;
}

.zaobljenaSlika {
	border-radius: 30px;
	margin: 20px auto;
	display: block;
}

.inlineNavigacija {
	display: inline-block;
	margin-right: 20px;
	text-decoration: none;
	color: burlywood;
	background-color: black;
	padding: 5px 10px;
	border-radius: 5px;
}

.bezPozadina {
	background-color: burlywood;
}
